
  <form action="/dashboard/addcategory" method="POST">
    <div class="field">
      <label class="label">Category: Water Quality</label>
      <input class="input" type="text" placeholder="Enter water quality rating" name="waterQuality">
    </div>
    <button class="button is-link">Add Category</button>
  </form>
